@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Spoqa Han Sans Neo', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: normal;
}

button:focus,
input:focus {
  outline: none;
}

.main-container {
  height: 40px;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr;
}

.title-bar {
  background: #f2f4f5;
  color: #ffffff;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}

.title {
  height: 30px;
  padding: 10px;
  display: flex;
  gap: 8px;
}

.title-logo {
  width: 16px;
  height: 16px;
}
.title-text {
  width: 100px;
  color: #626b74;
  font: 'Segoe UI';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.version-text {
  color: var(--PaleGray-500, #a1a9b0);
  font-family: 'Segoe UI';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}
.control {
  float: right;
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 5px;
  margin-right: 5px;
  width: auto;
}

.control button {
  display: flex;
  width: 46px;
  height: 32px;
  padding: 6px 11px;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  padding: 6px;
  outline: 0;
  border: 0;
}

.control button:hover {
  background: #444444;
}

.prevent-select {
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

.draggable {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

/*button 테마*/
.button-main {
  @apply bg-LGRed-600 text-white hover:bg-LGRed-700 active:bg-LGRed-600;
}

.button-sub-color {
  @apply bg-LGRed-100 text-LGRed-600 hover:bg-LGRed-300 active:border active:border-LGRed-500 active:bg-LGRed-300;
}

.button-sub-gray {
  @apply bg-PaleGray-100 text-PaleGray-900 hover:bg-PaleGray-300 active:border active:border-PaleGray-900 active:bg-PaleGray-300;
}

/*스크롤바*/
.listbox-scroll {
  padding-right: 10px;
}

.listbox-scroll::-webkit-scrollbar {
  width: 4px;
}
.listbox-scroll::-webkit-scrollbar-track {
  background-color: white;
}
.listbox-scroll::-webkit-scrollbar-thumb {
  background-color: #e7e9ec;
  border-radius: 20px;
}
