body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  margin: 0px;
}

body * {
  box-sizing: border-box;
}

.container {
  height: 100%;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr;
}

.title-bar {
  background: #f2f4f5;
  color: #ffffff;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}

.title {
  height: 30px;
  padding: 10px;
  display: flex;
  gap: 8px;
}

.title-logo {
  width: 16px;
  height: 16px;
}
.title-text {
  width: 100px;
  color: #626b74;
  font: 'Segoe UI';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.version-text {
  color: var(--PaleGray-500, #a1a9b0);
  font-family: 'Segoe UI';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}
.control {
  float: right;
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 5px;
  margin-right: 5px;
  width: auto;
}

.control button {
  display: flex;
  width: 46px;
  height: 32px;
  padding: 6px 11px;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  padding: 6px;
  outline: 0;
  border: 0;
}

.control button:hover {
  background: #444444;
}

.prevent-select {
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

.draggable {
  -webkit-app-region: drag;
}
